body { background: #a6bfec; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 24px; display: flex; }
.block-cluster-0 { color: #bfddfc; font-size: 21px; margin-bottom: 5px; }
.block-database-1 { color: #b2538d; font-size: 15px; margin-bottom: 5px; }
.block-search-2 { color: #6f6009; font-size: 13px; margin-bottom: 5px; }
.block-helper-3 { color: #c1febd; font-size: 15px; margin-bottom: 5px; }
.block-order-4 { color: #dd1bdc; font-size: 12px; margin-bottom: 5px; }